body {
    background-color: rgb(62, 235, 62);
    font-family: "Fjalla One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:rgb(42, 107, 0);
    color: white;
    font-family: "Fjalla One", sans-serif;
}


.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
text-align: center;
    max-width: 90%;

}

img {
    max-width: 70%;
}